<footer class="footer">
  <div class="footer-section">
    <h2 class="footer-heading">Contacts</h2>
    <p class="footer-text">Phone: 555-1234</p>
    <p class="footer-text">Email: info@example.com</p>
  </div>
  <div class="footer-section">
    <h2 class="footer-heading">Location</h2>
    <p class="footer-text">Tole bi 59</p>
    <p class="footer-text">Kazakhstan, Almaty</p>
  </div>
  <div class="footer-section">
    <h2 class="footer-heading">About the Company</h2>
    <p class="footer-text"> This is prototype of the kolesa.kz site</p>
  </div>
</footer>
